html, body {
    font-family: $font-family-primary;
    font-size: $font-size-default;
    color: $black;
    min-width: 350px;
    overflow: auto;
}

h1 {
    font-size: $font-size-xl;
    font-family: $font-family-secondary;
    font-weight: 600;
    opacity: $font-opacity-low;
    line-height: 1.7em;
    margin-top: 1em;
}

h2 {
    font-size: $font-size-l;
    font-family: $font-family-secondary;
    font-weight: 600;
    opacity: $font-opacity-low;
    line-height: 1.6em;
    margin-bottom: .5em;
}

h3 {
    font-size: $font-size-default-mobile;
    font-family: $font-family-secondary;
    font-weight: 600;
    opacity: $font-opacity-low;
}

p {
    line-height: 1.4em;
    margin-bottom: .4em;
}

a {
    color: $green;

    &:hover {
        color: $black;
        text-decoration-color: $black;
    }
}

@include media-breakpoint-up(md) {
    h1 {
        font-size: $font-size-xxl;
        line-height: 1.2em;
    }

    h2 {
        font-size: $font-size-xl;
        line-height: 48px;
    }

    h3 {
        font-size: $font-size-m;
    }
}

@include media-breakpoint-down(sm) {
    * {
        font-size: $font-size-default-mobile;
    }

    h1 {
        font-size: $font-size-xl;
        line-height: 1.2em;

        span {
            font-size: 1em;
        }
    }

    h2 {
        font-size: $font-size-l;
        line-height: 1.5em;
    }

    h3 {
        font-size: $font-size-m;
    }
}
