.DS_Store
.idea/

.env
.gitlab-ci.yml
.travis.yml
.editorconfig
ide-twig.json

.git/
.gitattributes
.gitignore

var/*

*.md

.dockerignore
Dockerfile
docker-compose.yml
docker-compose.dist.yml

public/uploads/*
public/generated
