/build/
node_modules/
npm-debug.log
yarn-error.log

vendor/

.idea

var
public/bundles/
public/build/*/glyphicons-*

public/uploads/images
public/generated
composer.lock

## Docker
docker-compose.yml
.docker/mysql-data

.env.local
.env.local.php
.env.*.local
