/build/
/node_modules/
npm-debug.log
yarn-error.log

###> symfony/framework-bundle ###
/vendor/

composer.lock

.idea

# todo merge from local .gitignores, same like composer.json
projects/open-real-estate/var
projects/open-real-estate/public/bundles/
projects/open-training/var
projects/open-training/public/bundles/
projects/open-training/public/build/*/glyphicons-*

projects/open-real-estate/.env
projects/open-training/.env
