includes:
    - 'vendor/phpstan/phpstan-doctrine/extension.neon'
    - 'vendor/symplify/phpstan-extensions/config/config.neon'

parameters:
    level: max

    excludes_analyse:
        - "*/Entity*"
        - '*/var/cache/*'
        - '*/var/logs/*'
        - /statie/tests/

    ignoreErrors:
        - '#^[a-zA-Z0-9\\]++::__construct\(\) does not call parent constructor from (?:Nette\\ComponentModel\\Component|Nette\\Application\\UI\\Presenter)#'

        # known value
        - '#Cannot call method render\(\) on Nette\\Application\\UI\\ITemplate\|stdClass#'
        - '#Method OpenTraining\\Statie\\Posts\\Year2018\\Cart\\Infrastructure\\DoctrineCartRepository::find\(\) should  OpenTraining\\Statie\\Posts\\Year2018\\Cart\\Domain\\Cart|null but returns object|null#'

        # not sure about this
        - '#Return type \(array<array<string>>\) of method OpenTraining\\Statie\\Posts\\Year2017\\SymfonyValidatorConditionalConstraints\\Client::getGroupSequence\(\) should be compatible with return type \(array<string>\|Symfony\\Component\\Validator\\Constraints\\GroupSequence\) of method Symfony\\Component\\Validator\\GroupSequenceProviderInterface::getGroupSequence\(\)#'

        # known child
        - '#Property OpenTraining\\Training\\Repository\\TrainingTermRepository::\$entityManager \(Doctrine\\ORM\\EntityManager\) does not accept Doctrine\\ORM\\EntityManagerInterface#'
