<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="robots" content="all">
        <meta name="description" content="Pomůžeme vám s financováním nového bydlení, s nákupem i prodejem nemovitosti, s odhadem ceny nemovitosti nebo s celkovým zlepšením vaší finanční situace.">

        <meta property="og:site_name" content="Oksana &amp; Zítka">
        <meta property="og:locale" content="cs_CZ">
        <meta property="og:description" content="Pomůžeme vám s financováním nového bydlení, s nákupem i prodejem nemovitosti, s odhadem ceny nemovitosti nebo s celkovým zlepšením vaší finanční situace.">

        <title id="snippet--title">{% block title %}Oksana &amp; Zítka – Specialisté na hypotéky a reality{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    </head>

    <body class="cs page-homepage module-static home-page" data-basepath="" id="{% block body_id %}{% endblock %}">
        <div id="top">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
