<footer id="footer">
    <div class="grid">
        <div class="row">
            <div class="c12">
                <img class="retina-no" src="http://www.oksana-zitka.cz/images/layout/logo_footer.png" alt="Oksana & Zítka" width="240" height="40">
                <img class="retina" src="http://www.oksana-zitka.cz/images/layout/logo_footer@2x.png" alt="Oksana & Zítka" width="240" height="40">
            </div>
        </div>
        <div class="dtable">
            <div class="row text">
                <div class="c3 alpha">
                    <h2>Naše pobočka</h2>
                    <p><a href="https://en.mapy.cz/s/3d2Lk">
                            <img src="http://www.oksana-zitka.cz/images/layout/map.jpg" alt="mapa">
                        </a>
                    </p>
                    <p class="address">
                        Mladá Boleslav: Železná 51<br>
                        Po - Pá: 10 − 18 hod.
                    </p>
                </div>
                <div class="c3">
                    <h2>Rychlý kontakt</h2>

                    <ul class="contact">
                        <li class="zitka">
                            <strong>Jan Zítka<br></strong>
                            +420 727 818 990
                        </li>
                        <li class="oksana">
                            <strong>Oksana Hodboďová</strong><br>
                            +420 776 294 880
                        </li>
                    </ul>

                    <p class="pbot"><a href="/kontakt/">Kontaktní informace</a></p>
                </div>
                <div class="c3">
                    <h2>Naše služby</h2>
                    <ul>
                        <li><a href="/hypotecni-kalkulacka/">Vyřízení hypotéky</a></li>
                        <li><a href="/koupe-nemovitosti/">Pomoc s nákupem či prodejem nemovitosti</a></li>
                        <li><a href="/online-oceneni-nemovitosti/">Online kalkulačka nemovitostí</a></li>
                    </ul>
                    <p class="pbot">
                        <a href="/reference-nasich-klientu/">Reference našich klientů</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row last">
            <div class="c6">
                <p>copyright &copy; {{ date("now")|date("Y") }} Finance a Reality CZ s.r.o.</p>
            </div>
            <div class="c6 text-right">
                <p><a href="/ochrana-osobnich-udaju/">Ochrana osobních údajů</a></p>
            </div>
        </div>
    </div>
</footer>
