<header id="header">
    <div class="grid">
        <div class="row">
            <a id="logo" href="{{ path('homepage') }}">
                <h1>Oksana &amp; Zítka</h1>
            </a>
            <div class="c12">
                <nav>
                    <ul>
                        <li>
                            <a href="/#nase-sluzby">Naše služby</a>

                            <ul>
                                <li><a href="/online-oceneni-nemovitosti/">Online ocenění nemovitosti</a></li>
                                <li><a href="/hypotecni-kalkulacka/">Hypoteční kalkulačka</a></li>
                                <li><a href="/koupe-nemovitosti/">Koupě nemovitosti</a></li>
                                <li><a href="/prodej-nemovitosti/">Prodej nemovitosti</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/kontakt/">Kontakt</a></li>
                        <li class="nopad">
                            <a href="/online-oceneni-nemovitosti/" class="btn btn-blue btn-icon-calc_w"><i class="icon icons-calc_w"></i>Online ocenění nemovitosti</a>
                        </li>
                    </ul>
                    <a href="#" id="menu-toggle" class="burger"><span></span><span></span><span></span></a>
                </nav>
            </div>
        </div>
    </div>
</header>
