<section class="references">
    <h2>Řekli o nás</h2>
    <div id="slider_references">
        <blockquote>
            <p>Nejdříve mi paní Hodboďová pomohla s refinancováním hypotéky – snížila mi úrokovou sazbu a splátku. Dále mi pomohla s mými výdaji na různé finanční produkty, o kterých jsem občas ani nevěděl, že je mám a k čemu vůbec slouží. Nyní mi pomáhá vyjednat ještě lepší podmínky u mé stávající hypotéky. Udělala vždy maximum pro to, aby mou situaci vyřešila co nejlépe.</p>

            <p><cite class="text-right">Pavel Varcl <em>(40 let, hasič)</em></cite></p>
        </blockquote>
        <blockquote>
            <p>Paní Hodboďovou jsem poznala během mého pohovoru na pozici realitního makléře. Nakonec jsem jí svěřila i mé finance. Nejen že snížila mé výdaje na úvěry a naučila mě vystačit si s málem, ale hlavně mě naučila vytvářet si rezervy a zbavit se závazků. Každý člověk by se měl o své peníze starat a nenechávat to jen tak být.</p>

            <p><cite class="text-right">Lenka Vodolanová <em>(34 let, realitní makléř)</em></cite></p>
        </blockquote>
        <blockquote>
            <p>Po první schůzce s paní Hodboďovou jsem z ní cítil, že tomu opravdu rozumí a že ji mohu věřit. Nic neslibovala, ale postavila nás před tvrdou realitu a navrhla možnosti řešení. A vše co řekla, taky dodržela. Pomohla mi s hledáním nemovitosti a s vyřízením všeho kolem – právních věcí, vyjednávání s prodávajícím a nakonec se schválením hypotéky. Já jsem nemusel dělat vůbec nic! Do poslední chvíle jsem tomu nevěřil.</p>

            <p><cite class="text-right">Martin Jalč <em>(26 let, operátor výroby)</em></cite></p>
        </blockquote>
    </div>
    <div id="slider_references_nav" class="clearfix">
        <ul id="slider_references_pager" class="cycle-pager"></ul>
        <a href="/reference-nasich-klientu/" class="pull-right">další reference</a>
    </div>
</section>
