<div id="slider-container">
    <div id="slider">
        <div class="slide" style="background-image:url(http://www.oksana-zitka.cz/images/slider/slides/1/slide_1.jpg);">
            <div class="grid">
                <div class="row">
                    <div class="c5">
                        <h2>Oksana Hodboďová<br>&amp; Jan Zítka</h2>
                        <p>Naplnit svá přání v oblasti <strong>financí a realit</strong><br/>
                            je jednodušší, než si myslíte. Skutečně.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image:url(http://www.oksana-zitka.cz/images/slider/slides/2/slide_2.jpg);">
            <div class="grid">
                <div class="row">
                    <div class="c5">
                        <h2>Ocenění nemovitosti<br>ZDARMA</h2>
                        <p>Kvalifikovaně odhadneme cenu vaší nemovitosti‎ online.</p>
                        <p>
                            <a href="http://dev.bargency.com/oksana-zitka.cz/online-oceneni-nemovitosti/" class="btn btn-blue">OCENIT NEMOVITOST ONLINE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image:url(http://www.oksana-zitka.cz/images/slider/slides/3/slide_3.jpg);">
            <div class="grid">
                <div class="row">
                    <div class="c5">
                        <h2>Vyřízení hypotéky</h2>
                        <p>Provedeme vás hladce celým procesem vyřízení hypotéky. Hezky krok po kroku.</p>
                        <p>
                            <a href="http://dev.bargency.com/oksana-zitka.cz/hypotecni-kalkulacka/" class="btn btn-blue">Spočítat výši hypotéky</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image:url(http://www.oksana-zitka.cz/images/slider/slides/4/slide_4.jpg);">
            <div class="grid">
                <div class="row">
                    <div class="c5">
                        <h2>Nákup či prodej <br>nemovitosti</h2>
                        <p>Zajistíme hladký průběh celého procesu. Bez rizik a bez starostí.</p>
                        <p>
                            <a class="btn btn-blue" href="/koupe-nemovitosti/">Kupuji nemovitost</a> <a class="btn btn-blue" href="/prodej-nemovitosti/">Prodávám nemovitost</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="slider_pager_container">
        <div class="grid">
            <div class="row">
                <div class="c12">
                    <ul class="cycle-pager" id="slider_pager"></ul>
                </div>
            </div>
            <a href="#" id="slider_prev" class="slider-nav-left">&lsaquo;</a>
            <a href="#" id="slider_next" class="slider-nav-right">&rsaquo;</a>
        </div>
    </div>
    <div class="foot-left"></div>
    <div class="foot-right"></div>
</div>
