<div id="training_partners">
    <h3>Partnerská školení</h3>

    <p>
        Vydrží tvoje aplikace útoky zákeřných hackerů? →
        Po školení <strong>security experta <a href="https://www.michalspacek.cz/skoleni">Michala Špačka</a></strong> si tím můžeš být téměř jistý.
    </p>

    <p>
        Potřebuješ zrychlit načítání webu nebo vybrousit Javascript? →
        Běž na <strong>frontendová školení ze <a href="https://www.vzhurudolu.cz/kurzy">Vzhůru dolů</a></strong>.
    </p>

    <p>
        Chceš si ujasnit OOP v PHP nebo se stát mistrem Symfony? →
        S tím <strong>ti pomůže <a href="https://www.martinhujer.cz/skoleni/">Martin Hujer</a></strong>.
    </p>
</div>
