<h2 class="text-center">Partnerská školení</h2>

<div class="row" id="training_partners">
    <div class="col-12 col-md-4">
        <div class="text-center">
            <img style="max-width: 7em" alt="" class="mb-3 rounded-circle img-thumbnail" src="https://pbs.twimg.com/profile_images/2486136032/48y4qlw7i7u0wed6q4ju_400x400.jpeg">
        </div>

        <p>
            Vydrží tvoje aplikace útoky zákeřných hackerů?
            <br>
            Po školení <strong>security experta <a href="https://www.michalspacek.cz/skoleni">Michala Špačka</a></strong> si tím můžeš být téměř jistý.
        </p>
    </div>

    <div class="col-12 col-md-4">
        <div class="text-center">
            <img style="max-width: 7em" alt="" class="mb-3 rounded-circle img-thumbnail" src="https://www.vzhurudolu.cz/assets/img/content/lectors/shoulders-martin-michalek.png">
        </div>

        <p>
            Potřebuješ rychle načíst web, pochopit SVG, kódování newsletteru nebo Javascript?
            <br>
            Běž na <strong>frontendová školení ze <a href="https://www.vzhurudolu.cz/kurzy">Vzhůru dolů</a></strong>.
        </p>
    </div>

    <div class="col-12 col-md-4">
        <div class="text-center">
            <img style="max-width: 7em" alt="" class="mb-3 rounded-circle img-thumbnail" src="https://avatars3.githubusercontent.com/u/353372?s=460&v=4">
        </div>

        <p>
            Chceš si ujasnit objetové programování v PHP nebo se stát mistrem Symfony?
            <br>
            S tím <strong>ti pomůže <a href="https://www.martinhujer.cz/skoleni/">Martin Hujer</a></strong>.
        </p>
    </div>
</div>
