<div id="training_partners">
    <h3>Partnerská školení</h3>

    <ul>
        <li>
            Vydrží tvoje aplikace útoky zákeřných hackerů? →
            Po školení <strong><a href="https://www.michalspacek.cz/skoleni">Michala Špačka</a></strong> si tím můžeš být jistý.
        </li>

        <li>
            Potřebuješ zrychlit načítání webu? →
            Běž na frontendová školení ze <strong><a href="https://www.vzhurudolu.cz/kurzy">Vzhůru dolů</a></strong>.
        </li>

        <li>
            Chceš si ujasnit OOP v PHP? →
            S tím ti pomůže <strong><a href="https://www.martinhujer.cz/skoleni/">Martin Hujer</a></strong>.
        </li>
    </ul>
</div>
