<div class="big_rating_stars">
    {% for i in 1..average_training_rating_stars %}
        <em class="fas fa-star text-warning"></em>
    {% endfor %}
</div>

<p>
    <strong>{{ average_training_rating }}</strong>
</p>

<p class="mb-5">Průměrné hodnocení školení</p>

<div class="row">
    {% for feedback in feedbacks %}
        <div class="col-12 col-md-6 mb-5">
            {% include "_snippets/training/single_feedback.twig" with {"show_training_name": show_training_name }  %}
        </div>
    {% endfor %}
</div>
