{% extends 'base.twig' %}

{% set page_title %}9 Steps to Stream your Talk{% endset %}

{% block main %}
    <div class="container" id="meetups">
        <h1>{{ page_title }}</h1>

        <div class="row">
            <div class="col-md-12">
                <ol>
                    <li>
                        <p>
                            Add <a href="https://www.facebook.com/jsem.tomasvotruba">Tomas Votruba</a> so we can add you as "Editor" to Péhápkaři and you can live-stream
                        </p>
                    </li>
                    <li>
                        <p>
                            Wait a bit, we have to give you access :) Then open notification and accept invitation to become "Editor" on Péhápkaři FB Page.
                        </p>
                    </li>
                    <li>
                        <p>
                            After that, go to <a href="https://www.facebook.com/pehapkari">Péhápkaři FB Page</a>
                        </p>
                    </li>

                    <br>

                    <li>
                        <p>
                            Click on "Live Video"
                        </p>
                        <img src="{{ asset('assets/images/for-speakers/go-live.png') }}" class="shadow">
                    </li>

                    <br>

                    <li>
                        <p>
                            Click on "Share Screen" and pick your slides (this requires FB Screen Sharing plugin, install it now and remove later)
                        </p>
                        <img src="{{ asset('assets/images/for-speakers/go-live-2.png') }}" class="shadow">
                    </li>

                    <br>

                    <li>
                        <p>
                            Be sure to check your laptop microphone works
                        </p>
                        <img src="{{ asset('assets/images/for-speakers/go-live-3.png') }}" class="shadow">
                    </li>

                    <br>

                    <li>
                        <p>
                            Then type your name + talk name and you can go live.
                        </p>
                    </li>

                    <li>
                        <p>
                            Tada! Great job my friend, <strong>you're now live streaming!</strong>
                        </p>
                    </li>

                    <li>
                        <p>
                            After the show, don't forget to publish the video so anyone can share it right away.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
