{% extends 'base.twig' %}

{% block main %}
    {# copy pasted from design #}

    <div class="meetups">
        <section class="ph-section-first">
            <div class="container">
                <div class="ph-heading">
                    <div class="row">
                        <div class="col-xl-6 ph-heading_col">
                            <div class="ph-heading__title">
                                <h1>Meetups</h1>
                            </div>
                            <div class="ph-heading__subtitle">
                                <p>Meetups are one of our core activities. There are usually 2 or 3 speakers talking not only about PHP, but also about topics such as 3D modelling, self-improvement or programming tools.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ph-scroll__row row">
                    <div class="ph-scroll__col col-lg-4">
                        <a href="#">
                            <div class="ph-card card-calendar">
                                <img class="card-calendar__img-top" src="src/images/homepage/1.jpg" alt="card-image" title="">
                                <div class="card-calendar__body">
                                    <h6 class="card-calendar__body-title">PHP Pivo 2018/4 - Pardubice</h6>
                                    <a href="#" class="card-calendar__body-address">
                                        KoPlac, Příkop 2, 60200 Brno
                                        <img src="src/icons/arrows/arrow_upright.svg" alt="arrow" title="">
                                    </a>
                                    <div class="ph-card__body-date">
                                        <span class="ph-card__body-date-day">4</span>
                                        <span class="ph-card__body-date-month">APR</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="ph-scroll__col col-lg-4">
                        <a href="#">
                            <div class="ph-card card-calendar">
                                <img class="card-calendar__img-top" src="src/images/homepage/1.jpg" alt="card-image" title="">
                                <div class="card-calendar__body">
                                    <h6 class="card-calendar__body-title">PHP Pivo 2018/4 - Pardubice</h6>
                                    <a href="#" class="card-calendar__body-address">
                                        KoPlac, Příkop 2, 60200 Brno
                                        <img src="src/icons/arrows/arrow_upright.svg" alt="arrow" title="">
                                    </a>
                                    <div class="ph-card__body-date">
                                        <span class="ph-card__body-date-day">4</span>
                                        <span class="ph-card__body-date-month">APR</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="ph-scroll__col col-lg-4">
                        <a href="#">
                            <div class="ph-card card-calendar">
                                <img class="card-calendar__img-top" src="src/images/homepage/1.jpg" alt="card-image" title="">
                                <div class="card-calendar__body">
                                    <h6 class="card-calendar__body-title">PHP Pivo 2018/4 - Pardubice</h6>
                                    <a href="#" class="card-calendar__body-address">
                                        KoPlac, Příkop 2, 60200 Brno
                                        <img src="src/icons/arrows/arrow_upright.svg" alt="arrow" title="">
                                    </a>
                                    <div class="ph-card__body-date">
                                        <span class="ph-card__body-date-day">4</span>
                                        <span class="ph-card__body-date-month">APR</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="ph-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ph-par">
                            <h2 class="ph-par__title">
                                The usual meetup
                            </h2>
                            <p class="ph-par__body">
                                Oh fuck it, I am not gonna make up another wall of text that is not going to be used anyway. Enjoy the padding text here.
                                Craft beer lomo lumbersexual kitsch, ennui small batch helvetica deep v fashion axe church-key. Crucifix raw denim glossier four dollar toast green juice keffiyeh mumblecore tousled. Oh fuck it, I am not gonna make up another wall of text that is not going to be used anyway.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
