{% block header %}
    <header>
        <div class="hidden-sm-down">
            <div class="container-fluid">
                <a href="/"><img src="https://pehapkari.cz/assets/images/logo-header.svg?ver/assets/images/logo-header.svg?ver={{ random() }}" alt="" height="50"></a>

                <nav class="navbar top-navigation">
                    <a href="/blog/" class="">
                        <em class="fa fa-newspaper fa-fw"></em>
                        &nbsp;
                        Blog
                    </a>
                    <a href="{{ path('trainings') }}" class="{{ active_item(['trainings', 'training-detail']) }}">
                        <em class="fa fa-graduation-cap fa-fw"></em>
                        &nbsp;
                        Školení
                    </a>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}
