{% extends "base.twig" %}

{% block main %}
    <div class="container" id="contact">
        <div class="text-center">
            <h2>kdo jsme </h2>
            - @todo

            <h2>co tady děláme - proč?</h2>
            - @todo

            <h2>historie</h2>
            - @todo
        </div>
    </div>
{% endblock %}
