{% extends "base.twig" %}

{% block main %}
    <div class="container" id="contact">
        <h1>
            Chceš se rozvíjet v PHP?

            <span class="js-rewriter" data-lines="['adsfa', 'fafdsaf']"></span>
        </h1>

        <div class="page-header">
            <p>
                Nebo chceš meetup u vás ve firmě?<br>
                Zavolej nebo napiš.
            </p>
        </div>

        <div class="ways_to_contact card-columns">
            <div class="card shadow-card">
                <div class="card-body">
                    <h2>Tomáš Votruba</h2>
                    <img src="https://avatars1.githubusercontent.com/u/924196?s=300&v=4" alt="" style="max-width: 15em">
                </div>
                <div class="card-footer">
                    <a href="tel:+420776778332">776 778 332</a>
                    <br>
                    <a href="mailto:tomas@pehapkari.cz">tomas@pehapkari.cz</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
