{% extends "base.twig" %}

{% set page_title %}Kontakt{% endset %}

{% block main %}
    <div class="container white_break_page_end">
        <h1>
            Chceš <span id="typed"></span>
            <div id="typed-strings">
                <p>se rozvíjet v PHP?</p>
                <p>zorganizovat sraz?</p>
                <p>začít školit?</p>
            </div>
            {# modify Javascript for this in "footer.twig" #}
        </h1>

        <div class="row">
            <div class="col-6">
                <p>Zavolej nebo napiš. Odpoví ti...</p>

                <br>

                <h2>Tomáš Votruba</h2>

                <a class="text-bigger" href="tel:+420776778332">776 778 332</a>
                <br>
                <a class="text-bigger" href="mailto:tomas.vot@gmail.com">tomas.vot@gmail.com</a>
            </div>

            <div class="col-6">
                <img src="https://avatars1.githubusercontent.com/u/924196?s=300&v=4" alt="" style="max-width: 100%" class="shadow rounded-circle">
            </div>
        </div>
    </div>
{% endblock %}
