{% extends "base.twig" %}

{% set page_title %}Kontakt{% endset %}

{% block main %}
    <div class="container white_break_page_end">
        <h1>
            P칠h치pka콏i <span id="typed"></span>
            <div id="typed-strings">
                <p>游냊!</p>
                <p>游냊游냊!</p>
                <p>游냊游냊游냊!</p>
            </div>
        </h1>

        <div class="row">
            <div class="col-6">
                <p>Aktu치ln캩 se formuje nov치 PHP crew.</p>
                <p>Zaj칤m치 t캩 o co jde? Chce코 b칳t jej칤 sou캜치st칤?</p>
                <p>Dej o sob캩 v캩det na <a href="https://join.slack.com/t/pehapkari/shared_invite/zt-b5kiu8w2-iqDCp8btryFmXeKiL21fXQ">Slacku</a>!</p>
            </div>

            <div class="col-6">
                <img src="https://avatars.githubusercontent.com/pehapkari?s=128&v=4" alt="" style="max-width: 100%" class="shadow rounded-circle">
            </div>
        </div>
    </div>
{% endblock %}
