{% extends "base.twig" %}

{% block main %}
    <div class="container" id="contact">
        <h1>
            Chceš <span id="typed"></span>

            <div id="typed-strings">
                <p>se rozvíjet v PHP?</p>
                <p>zorganizovat sraz?</p>
                <p>začít školit?</p>
            </div>

        </h1>

        <div class="row">
            <div class="col-6">
                <p>Zavolej nebo napiš. Odpoví ti...</p>

                <br>

                <h2>Tomáš Votruba</h2>

                <a class="text-bigger" href="tel:+420776778332">776 778 332</a>
                <br>
                <a class="text-bigger" href="mailto:tomas@pehapkari.cz">tomas@pehapkari.cz</a>
            </div>

            <div class="col-6">
                <img src="https://avatars1.githubusercontent.com/u/924196?s=300&v=4" alt="" style="max-width: 100%" class="shadow-card">
            </div>
        </div>
    </div>
{% endblock %}
