{% extends 'base.twig' %}

{% block main %}
    <div class="container first-section text-center">
        <div class="row">
            <p>
                Školení pořádá firma Edukai s.r.o.. Údaje uchovává po dobu 2 let pouze pro účely organizace kurzu a zpracování zpětné vazby. Máte právo kdykoliv požádat o úpravu či smazání údajů z naší databáze. Nikdo jiný než organizátor a školitel k vašim údajům nemá přístup.
            </p>
        </div>
    </div>
{% endblock %}
