{% extends 'base.twig' %}

{% block main %}
    <div class="container">
        <h1>Ochrana soukromí</h1>

        <p>
            Školení pořádá firma Edukai s.r.o., Dubová 4, Liberec, 460 01, IČO: 07536721.
        </p>

        <p>
            Údaje uchováváme po dobu 2 let pouze pro účely organizace kurzu a zpracování zpětné vazby. Máte právo kdykoliv požádat o úpravu či smazání údajů z naší databáze. Nikdo jiný než organizátor a školitel k vašim údajům nemá přístup.
        </p>
    </div>
{% endblock %}
