#footer {
    margin-top: 2em;
    padding-top: 3em;
    background-color: $black;
    font-size: $font-size-s;
    font-weight: 300;
    color: $white;

    .container {
        padding: 3em 8em;
    }

    p {
        font-size: $font-size-s;
    }

    ul#socials {
        font-size: 1.2em;
        margin-bottom: 2em;
        list-style-type: none;

        li {
            float: left;
            display: inline;
            text-align: center;
            padding: 1em;

            a {
                text-align: center;
                display: block;
                color: $white;

                &:hover {
                    color: $green;
                }

                p {
                    opacity: 1;
                    font-size: .8em;
                }
            }
        }
    }

    #footer_body {
        a {
            text-decoration: underline;
            color: $white;
            font-weight: 300;
            letter-spacing: 0.5px;

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }

        h3 {
            font-family: $font-family-secondary;
            font-weight: 500;
            font-size: $font-size-sm;
            line-height: 1em;
            letter-spacing: 1px;
            margin-bottom: 1.5em;
            margin-top: 0;
            color: #AAA;
        }

        ul.bottom_menu {
            padding-inline-start: 0;

            li {
                list-style-type: none;
                margin-bottom: 0;
                padding: .3em 0;

                a {
                    color: $white;
                    text-decoration: none;
                    line-height: 1em;
                    letter-spacing: 0.5px;

                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }

    #friends {
        margin-top: 4em;
        text-align: left;

        div {
            align-items: center;
        }

        img {
            margin-right: 1em;
        }
    }
}

@include media-breakpoint-up(md) {

    .ph-footer {
        .container {
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .ph-footer__header {
            margin-bottom: 155px;

            .ph-footer__header-left-col {
                float: left;
                margin-right: auto;
                display: flex;

                .ph-footer__header-brand {
                    display: inline;
                    padding-top: 20px;
                }
            }

            .ph-footer__header-right-col {
                margin-top: 0px;
                float: right;

            }

            .ph-footer__header-menu {
                .ph-footer__header-menu-item {
                    padding: 0 15px;

                }
            }
        }

        .ph-footer__body {
            flex-wrap: nowrap;

            .ph-footer__body-left-column {
                margin-top: 0px;
            }

            .ph-footer__body-right-column {
                margin-left: auto;
                float: right;

                .ph-footer__body-menu {
                    .ph-footer__body-menu-item {
                        padding-inline-start: 60px;
                        padding-right: 0;
                    }

                    .ph-footer__body-menu-item-title {
                        margin-top: 0px;
                    }
                }

                .ph-footer__body-menu-first {
                    width: auto;
                }
            }
        }
        .ph-footer__footer {
            margin-top: 95px;

            .ph-footer__footer-sponsor {
                justify-content: center;
                width: 90%;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .ph-footer {
        .container {
            max-width: 960px;
        }
    }
}
