.ph-nav {
    font-size: $font-size-default;
    color: $white;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    .container {
        padding-left: .7em;
        padding-right: .7em;
        display: flex;
    }

    #menu {
        list-style-type: none;
        margin-top: .3em;
        margin-bottom: 0;

        li {
            line-height: 1em;
            padding: 0;

            a {
                font-size: $font-size-sm;
                color: $gray-600;
                display: inline;
                padding: 1.2em 1.5em;

                &:hover {
                    text-decoration: none;
                    color: $black;
                    opacity: 1;
                }

                &.active {
                    color: #000;
                }
            }
        }
    }
}

// useful for header and footer
.ph-nav__logo {
    margin-top: -.4em;
    margin-bottom: -.8em;

    &:hover {
        text-decoration: none;
    }

    img {
        width: 2.5em;
    }

    p {
        //align-items: center;
        opacity: 0.9;
        color: $black;
        //display: inline;
        font-size: $font-size-xs;
        padding: .2em;
        margin-right: -.6em;

        &:hover {
            text-decoration: none;
            color: $black;
            opacity: 1;
        }
    }
}

#mobile-menu {
    .ph-nav__logo {
        margin: 0;
    }

    a {
        padding: .6em 0;

        &:hover {
            text-decoration: none;
        }
    }

    .active {
        background: black;
        color: white;
    }
}

a {
    transition: .3s;
}
