{% extends 'base.twig' %}

{% block main %}
    <h1 class="text-center">Pohlídáme ti další termín</h1>

    <div class="row">
        <div class="col-6">
            {{ form(form) }}
        </div>
        <div class="col-6">
            {# todo obrázek pejska :) #}
            <img src="http://www.kwteaparty.com/Pictures/2017/Jan/WatchdogAndBoy.jpg" style="transform: scaleX(-1);">
        </div>
    </div>
{% endblock %}
