<div class="metadataLine">
    {% if post.tested is defined %}
        <p class="success">
            <strong>
                <em class="fa fa-fw fa-check-square-o"></em>
                This post is Tested
            </strong>
        </p>
    {% endif %}

    <p>
        <strong>
            {% if post.author matches '#^\\d+$#' %}
                {{ authors[post.author].name }}
            {% else %}
                {{ post.author }}
            {% endif %}
        </strong>
    </p>

    <div class="card-footer post-date">
        <time datetime="{{ post.getDateInFormat('Y-m-D') }}">
            {{ post.getDateInFormat('j. n. Y') }}
        </time>
    </div>
</div>
