#welcome_image {
    max-width: 30em;
    margin: auto;
    margin-bottom: 2em;
}

#main_headline {
    margin-top: 1.5em;
    margin-bottom: .5em;
}

#main_logo {
    padding: 0 0 1.5em 0;
    max-width: 13em;
    min-width: 10em;
}

.submain_headline {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
}
