.homepage {
    .ph-heading__background {
        height: 400px;
        margin-top: .5em;
        background-image: url(/assets/images/homepage/1@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ph-icon-social {
        display: flex;
        height: 60px;
        background-color: $grey;

        img {
            max-width: 25px;
            max-height: 25px;
            width: 100%;
            margin: auto;
        }
    }

    .ph-column {
        margin-bottom: 210px;
        position: initial;
        margin-top: 40px;

        @media (min-width: 800px) {
            margin-bottom: 0;
        }


        .ph-column__wrapper {
            position: absolute;
            left: 0;
            width: 100%;
            min-width: 350px;

            @media (min-width: 800px) {
                position: relative;
            }
        }
    }

    .card-livestream {
        width: 100%;

        .ph-card__body {
            width: 100%;
        }

        .ph-card__body-main {
            max-width: 65%;
            width: 100%;
        }

        .ph-card__body-link {
            display: none;
        }
    }

    .ph-icon-row {
        margin-top: 75px;
        .ph-icon-col {
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 30px;
        }
    }
}

@include media-breakpoint-up(sm)  {

    .homepage {
        .ph-heading__background {
            background-size: cover;
        }

        .ph-icon-social {
            display: flex;
            height: 136px;

            img {
                max-width: 50px;
                max-height: 50px;
            }
        }
    }
}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

    .homepage {
        .ph-heading {
            .ph-button {
                display: block;
                margin-top: auto;
            }

            .ph-heading_col {
                height: 588px;
                display: flex;
                flex-direction: column;
            }

            .ph-heading__title {
                max-width: 760px;
                letter-spacing: 1px;
            }
        }

        .ph-flex-column {
            height: 360px;
            margin-bottom: 0;
        }

        .ph-first-col {
            margin-bottom: 0;
        }

        .card-livestream {
            position: relative;
            padding: 40px;
            height: 250px;

            .ph-card__body {
                height: 160px;

                .ph-card__body-main {
                    padding: 0;
                }

                .ph-card__body-link {
                    display: block;
                }
            }
        }
        .ph-column {
            margin-bottom: 0;

            .ph-column__wrapper {
                position: relative;
                width: 100%;
                left: 0;
                padding: 0;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .homepage {
        .ph-heading__background {
            position: absolute;
            height: 588px;
            right: 0;
            background-image: url(/assets/images/homepage/1@2x.jpg);
            max-height: initial;
            width: 705px;
            background-position: 50% 50%;
            background-size: cover;
            margin-top: 0;
            top: 6em;
            z-index: -1;

            @media (min-width: 1400px){
                width: 882px;
            }
        }
    }
}
