<!DOCTYPE html>
<html lang="cs">
    <head>
        {% include "_snippets/head.twig" %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">
        {% include "_snippets/menu.twig" %}

        {% block body %}
            <div id="main">
                {% include '_snippets/flash_messages.twig' %}

                {% block main %}{% endblock %}
            </div>
        {% endblock %}

        {% include "_snippets/footer.twig" %}
        {% include "_snippets/google_analytics.twig" %}
    </body>
</html>
