{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block content_header %}
    <h2>
        Provision for <strong>{{ trainingTerm }}</strong>
    </h2>

{% endblock %}

{% block main %}
    <div class="pt-4 pb-4 pl-4 pr-4">
        <div class="row">
            <div class="col-4">
                <table class="table table-bordered">
                    <thead class="bg-success text-white text-center">
                        <tr>
                            <th colspan="2">Summary</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            Income from {{ trainingTerm.getParticipantCount() }} participants
                        </td>
                        <td class="text-right text-success">
                            {{ income|number_format }} Kč
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Expenses
                            <a class="btn btn-danger ml-2" href="{{ path('easyadmin', {action: 'new', entity: 'Expense', trainingTerm: trainingTerm.getId() }) }}">Add</a>
                        </td>
                        <td class="text-right text-danger">
                            - {{ expenses_total|number_format }} Kč
                        </td>
                    </tr>

                    {% if trainingTerm.expenses %}
                        <tr>
                            <td colspan="2">
                                <table class="table">
                                    {% for expense in trainingTerm.expenses %}
                                        <tr>
                                            <td>{{ expense.note }}</td>
                                            <td class="text-right text-danger">- {{ expense.amount|number_format }} Kč</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endif %}

                    <tr class="bg-dark text-light">
                        <th>Profit</th>
                        <th class="text-right text-nowrap">
                            {{ profit|number_format }} Kč
                        </th>
                    </tr>
                </table>
            </div>

            <div class="col-4">
                <table class="table table-bordered">
                    <thead class="bg-warning text-white text-center">
                        <tr>
                            <th colspan="2">
                                Trainer {{ trainer.getName() }}
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            Finished trainings
                        </td>
                        <td class="text-right">
                            {{ finished_training_count }}
                        </td>
                    </tr>
                    <tr>
                        <td>Provision Rate</td>
                        <td class="text-right">
                            {{ trainerProvisionRate }} %
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Expenses <span class="text-muted">(lunch)</span>
                        </td>
                        <td class="text-right text-nowrap">
                            {{ trainer_expense_total|number_format }} Kč
                        </td>
                    </tr>
                    <tr>
                        <td>Provision</td>
                        <td class="text-right">{{ trainerProvision|number_format }} Kč</td>
                    </tr>
                    <tr class="bg-dark text-light">
                        <th>Provision + Expense Coverage</th>
                        <th class="text-right text-nowrap">
                            {{ trainerProvisionWithExpense|number_format }} Kč
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="..." class="btn btn-lg btn-info">
                                Ask for Invoice by mail @todo
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-4">
                <table class="table table-bordered">
                    <thead class="bg-warning text-white text-center">
                    <tr>
                        <th colspan="2">Edukai, s. r. o.</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Provision Rate</td>
                        <td class="text-right">{{ ownerProvisionRate }} %</td>
                    </tr>
                    <tr>
                        <td>
                            Expenses
                            <span class="text-muted">(rent)</span>
                        </td>
                        <td class="text-right">{{ owner_expense_total|number_format }} Kč</td>
                    </tr>
                    <tr class="bg-dark text-light">
                        <th>Provision</th>
                        <th class="text-right">{{ ownerProvision|number_format }} Kč</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{% endblock %}
