#main {
    margin-top: 5em;

    h1 {
        margin-bottom: 1em;
    }
}

.page a {
    color: #28a745;
    text-decoration: underline;

    &:hover {
        color: #000;
        text-decoration: none;
    }
}

h2 {
    margin: 1em 0 .7em 0;
}

.ph-heading__background {
    margin-top: 0;
}

* img {
    max-width: 100%;
    max-height: 100%;
}

#organizers img {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
}


// copy-pasted from old style

/* https://stackoverflow.com/a/45763767/1348344 */
.required:after {
    content: " *";
    color: red;
}

/* color palette: http://www.colourlovers.com/palette/46688/fresh_cut_day */
body {
    color: #222;
}

.section {
    padding-top: 1em;
    padding-bottom: 2em;
}

h1 {
    padding-top: .7em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

@include media-breakpoint-down(md) {
    #main {
        margin-top: 1em;
    }

    h1 {
        padding-top: 0;
        padding-bottom: .1em;
    }
}

.article {
    box-shadow: 0 4px 15px rgba(100, 100, 100, .2);
    border: 0;

    a {
        display: block;

        .card-footer {
            color: $black;
        }

        &:hover {
            text-decoration: none;

            h2 {
                text-decoration: underline;
            }
        }

        &:hover .card-footer,
        &:hover .author {
            text-decoration: none;
        }
    }

    .author {
        color: $black;
    }

    .card-body {
        min-height: 14em;
        border: 0;
        font-size: $font-size-default;
        padding-top: 2em;
    }

    .card-footer {
        border: 0;
        background: $white;
        padding-bottom: 1.5em;
        font-size: $font-size-default;
    }

    .card-footer, .card-body {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }

    .metadataLine {
        color: $black;
    }
}

* img {
    max-width: 100%;
    max-height: 100%;
}

.text-greater {
    font-size: 1.3em;
}

/* for blog.twig, _layout/post.twig */
#blog .perex {
    line-height: 1.5em;
}

#blog hr {
    margin-top: 2em;
    padding-bottom: 2em;
}

.metadataLine {
    font-size: .8em;
    color: #9d9d9d;
    margin-top: .4em;
    margin-bottom: .6em;
    line-height: 2.5em;
}

#article h2, h3 {
    color: #111;
    font-weight: 600;
}

#blog h3 {
    font-size: 2em;
}

#article img {
    border: 1px solid #DDD;
    margin-top: .5em;
    margin-bottom: 1em;
}

#article h2 {
    margin-top: 1em;
}

h3 {
    margin-top: 1.3em;
    margin-bottom: 1em;
    font-size: 1.3em;
}

#article-content {
    padding-top: 0;
}

#article #metadata-line {
    text-align: center;
    font-size: .8em;
    color: #a2a2a2;
    margin: 2em 0;
}

#article .perex {
    line-height: 1.5em;
    font-size: 1.2em;
}

pre {
    font-size: 1em;
    background-color: #fdf6e3;
    padding-bottom: 1em;
    padding-left: 1em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-radius: 6px;
    padding-top: .3em;
}

pre[class*="language-"] {
    margin: 1em 0;
}

.success, .success a {
    color: #8FBE00;
}

.vertical-align {
    vertical-align: middle !important;
}

#article ol, #article ul {
    font-size: $font-size-default;
    margin-bottom: .7em;
}

.main-logo {
    padding: 0 0 2em;
    max-width: 8em;
}

.lead {
    margin: 1em 0;
    font-size: 1.3em;
}

.lead p {
    line-height: 1.5em;
}


/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (max-width: 768px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hidden-md-up {
        display: none !important;
    }
}

#related-posts {
    font-size: 1.1em;
}

#related-posts li {
    line-height: 1.8em;
}

footer {
    font-size: 0.9em;
    background: #343434;
    color: #AAA;
    margin-top: 5em;
}

footer ul {
    margin-left: 0;
    padding-left: 0;
}

footer li {
    list-style-type: none;
    line-height: 2em;
    padding-left: 0;
    margin-left: 0;
}

footer .rounded-circle {
    text-align: center;
    padding-top: .6em;
    height: 2.7em;
    width: 2.7em;
}

#trainings q.blockquote {
    line-height: 1.5em;
}

#trainings .term {
    color: #333;
    font-size: .7em;
    margin-top: -1em;
}



#gallery {
    max-width: 40em;
    margin: auto;

    // null padding between photos
    & [class^="col-"] {
        padding: 0;
    }

    img {
        padding: .3em;
        max-width: 100%;
    }
}

.subtitle {
    font-size: 1.4em;
    line-height: 1.6em;
}

.training-card {
    h3 {
        margin-top: 0;
    }

    p {
        margin: 0;
        line-height: 150%;
    }

    img {
        position: absolute;
        right: 10px;
        bottom: 10%;
        margin-bottom: 15px;
    }
}

.lector-info-item strong {
    display: inline-block;
    min-width: 75px;
}

.text-smaller {
    color: #555;
    font-size: .8em;
    line-height: .9em;
}

/* @see https://stackoverflow.com/a/50174132/1348344 */
.container li {
    margin-bottom: .6em;
}

.container li:last-child {
    margin-bottom: 0;
}

#training_partners {
    margin-top: 4em;

    p {
        line-height: 2em;
    }
}

#talks_table h3 {
    margin-top: .2em;
    font-size: 1.6em;
}

p.bigger {
    font-size: 1.4em;
}

#videos .card-title
{
    margin-top: .3em;
    margin-bottom: .3em;
    line-height: 1.5em;
    font-weight: normal;
}

.text-bigger {
    font-size: 1.2em;
}

.video-row-item {
    margin-top: .4em;
    font-size: 1.2em;
    font-weight: bold;
}

.video-row-item a {
    display: block;
}

iframe, #videos .row img {
    border: 1px solid #BBB;
}

.no_thumbnail_video_square {
    padding: 1.1em .8em;
    width: 100%;
    height: 10em;
    text-align: center;
    border: 1px solid #DDD;
    font-size: 1.2em;
}

.pull-right {
    float: right;
}

.blockquote {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;

    .blockquote-footer {
        margin-top: .7em;
    }
}

// black + underline links
.black_underline_links {
    a {
        color: $black;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.shadow-card {
    border: 0;
    box-shadow: 0 4px 15px rgba(100, 100, 100, .2);
}

.incognito-link-just-header {
    a {
        color: $black;
        text-decoration: none;

        h2 {
            color: $green;
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;

            h2 {
                color: $black;
                text-decoration: underline;
            }
        }
    }
}

#article .perex, .article .perex {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    margin-top: 1em;
    font-weight: 300;
}

.card h2 {
    margin-top: 0;
    line-height: 1.2em;
}

.training-face {
    position: absolute;
    margin-top: 2.2em;
}

.background-grey {
    margin: 3em 0;
    background: rgb(253, 246, 227);

    h2 {
        text-align: center;
    }
}

#feedbacks {
    max-width: 50em;

    // borrowed from https://www.vzhurudolu.cz/kurzy
    .blockquote {
        text-align: left;
        font-size: 1em;
        line-height: 1.5em;
        display: block;
        background: $white;
        margin: 0;
        padding: 1.3rem 1.5rem 1.5rem 1.5rem;
        border-radius: 4px;
        background-color: $white;
    }

    .rating_stars {
        margin-top: .1em;
        margin-bottom: -.3em;
        font-size: .9em;
    }

    .big_rating_stars {
        margin-top: -.5em;
        margin-bottom: .1em;
        font-size: 1.3em;
    }

    .arrow {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1em 1em 0 1em;
        border-color: $white transparent transparent transparent;
        margin: 0 0 0 2.5em;
    }
}

#training_trainer_card {
    margin: 2em 0 4em 0;
    text-align: center;

    h2 {
        margin-top: 0;
    }

    p {
        margin: auto;
    }
}


@include media-breakpoint-down(md) {
    .hidden-md-down {
        display: none !important;
    }
}

.card-form {
    .btn {
        margin: auto;
        text-align: center;
    }
}

.white_break_page_end {
    margin-bottom: 12em;
}

@include media-breakpoint-down(md) {
    .white_break_page_end {
        margin-bottom: 6em;
    }
}

.logos {
    img {
        width: 9em;
        height: 3em;
        object-fit: scale-down;
    }
}

.subhead {
    text-align: center;
    font-size: 1.2em;
    margin-top: -1em;
    margin-bottom: 3em;
}

@include media-breakpoint-down(md) {
    .subhead {
        margin-top: 0em;
    }
}


.ul-normal, .row ul {
    margin-left: 0;
    margin-bottom: 0.3em;
    padding-left: 1.1em;
}

.action_step {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3em;

    p {
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: 1em;
    }

    .btn {
        font-size: 1.3em;
    }
}

.form-group {
    margin-bottom: 2.5em;
}

.form-group:last-of-type {
    margin-bottom: 1em;
}

.card form .btn {
    margin-top: .4em;
    display: block;
}

#feedback_form {
    .form-group > .form-check {
        margin-top: -2em;

        input {
            margin-top: .5em;
        }

        label {
            font-size: .8em;
            color: #999;
        }
    }
}

#article, #video {
    max-width: 50em;
}
