application:
    scanDirs: FALSE

parameters:
    invoicing:
        defaultMaturity: 7
        pdfDirectory: %appDir%/../invoices

services:
    - Pehapkari\Statie\Posts\Year2017\NetteConfigObjects\Config\InvoicingConfig( %invoicing% )
    - Pehapkari\Statie\Posts\Year2017\NetteConfigObjects\Forms\InvoiceFormOldFactory( %invoicing% )
    - Pehapkari\Statie\Posts\Year2017\NetteConfigObjects\Forms\InvoiceFormNewFactoryInterface
