<p>Ahoj,</p>

{# @var \Pehapkari\Training\Entity\Training training #}
<p>
    vítej na školení <a href="https://pehapkari.cz/kurz/{{ training.slug }}">{{ training }}</a>
</p>

<p>
    <strong>Zatím nezávazně. Ještě totiž čekáme tvé kolegy, až se termín dostatečně naplní</strong>.
    <br>
    Týden před školením končí uzávěrka přihlášek, tak nejpozději tehdy ti dáme vědět.
</p>
<p>
    Když přijde faktura, tak školení 100 % bude :) Jestli přijde platba až pár dní po školení, nevadí.
</p>

<br>

<p>Kdy a kde?</p>

{# @var \Pehapkari\Training\Entity\TrainingTerm training_term #}

<ul>
    <li>Začátek: {{ training_term.startDateTime|date }}</li>
    <li>Konec: {{ training_term.endDateTime|date }}</li>
    <li>Místo: <a href="https://pehapkari.cz/vzdelavej-se/misto-jablotron-holesovice/">Jablotron, Holešovice, Praha 7</a></li>
</ul>

<br>

<p>Měj se krásně!</p>

<br>

<p>Tomáš Votruba</p>
<p>
    za <a href="https://pehapkari.cz">Péhápkaři.cz</a>
</p>
