<p>Ahoj,</p>

{# @var \Pehapkari\Training\Entity\Training training #}
<p>
    doufáme, že sis {{ training }} školení odnesl nové triky, kterými hned zítra oslníš kolegy v práci :)
</p>

<p>
    My se chceme zlepšit taky, a s tím nám může pomoc tvoje zpětná vazba.
    <br>
    Máš 2 minuty? Vyplň nám dotazník: <a href="https://pehapkari.cz/feedback/">pehapkari.cz/feedback</a>
</p>

{% include "email/_snippet/email_footer.twig" %}
